.activities {
    display: flex;
    align-items: center;
    gap: 20px;
    article{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    img {
        object-fit: contain;
    }
    h3 {
        color: $title-text;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        max-width: 120px;
    }

}

.activities .container {
  display: flex;
  justify-content: space-between; /* o space-around */
  align-items: stretch;
  gap: 20px;
}
