$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fonts*/


$primary-font: "Poppins", sans-serif;
$secondary-font: "Merriweather", serif;

/* Sizes Container */



/* Colors */

$title-text: #FFFFFF;
$subtitle-text: #95969B;
$bg-color: #2B2D38;
$bg-color-secondary: #DB2A6B;


