/* Fonts*/
/* Sizes Container */
/* Colors */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  color: white;
  background-color: #DB2A6B;
  padding: 12px 50px;
  border-radius: 10px 10px 10px 0px;
  text-decoration: none;
}
.btn:hover {
  background-color: #5080c2;
}

.btn2:hover {
  display: inline-block;
  color: white;
  background-color: #DB2A6B;
  padding: 16px 25px;
  border-radius: 28px;
  text-decoration: none;
}

.hero {
  display: flex;
  margin-top: 140px;
  margin-bottom: 50px;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: start;
  width: 50%;
  padding: 0;
}

.hero__title {
  font-size: 65px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
}

.hero__subtitle {
  font-size: 20px;
  color: #95969B;
  margin-top: 0px;
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.hero__buttons .btn2 {
  text-decoration: underline;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.activities {
  display: flex;
  align-items: center;
  gap: 20px;
}
.activities article {
  display: flex;
  align-items: center;
  gap: 20px;
}
.activities img {
  object-fit: contain;
}
.activities h3 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  max-width: 120px;
}

.activities .container {
  display: flex;
  justify-content: space-between; /* o space-around */
  align-items: stretch;
  gap: 20px;
}

header.header__principal {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #95969B;
  position: relative;
}
header.header__principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.header__principal ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  text-decoration: none;
}

nav.nav__principal {
  padding-right: 80px;
}
nav.nav__principal ul {
  display: flex;
  gap: 40px;
  font-size: 14px;
}
nav.nav__principal a {
  text-decoration: none;
  color: #95969B;
}
nav.nav__principal span {
  margin-left: 5px;
}
nav.nav__principal :hover {
  color: #FFFFFF;
}
nav.nav__principal::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #DB2A6B;
  top: 70%;
  right: 40, 5%;
}

nav.nav__principal ul li a.white {
  color: #FFFFFF;
}
nav.nav__principal ul li a.white:hover {
  color: #DB2A6B;
}

.container__info {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  position: relative;
  background-color: #2B2D38;
  background-image: url("../img/fondo-GathSession.png");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 115% 205%;
}

html * {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
